/*===================================*
 *     STYLES FOR FORM ELEMENTS      *
 *===================================*/

/* Starting Red Alert */
i {
	pointer-events: none;
}
input,button {
	width: 100%;
	padding: 7px;
	outline: none;
	border: none;
}
input::selection {
	background-color: lightskyblue;
}
textarea {
	outline: none;
}
textarea::selection {
	background-color: lightskyblue;
}

/* butttons */
button {
	padding: 5px;
	margin-top: 5px;
	cursor: pointer;
}
button:hover {
	background-color: lightskyblue;
	color:white;
}
button:disabled {
	background-color: #ccc;
	color : black;
	cursor: not-allowed;
}

/* selectbox */

select {
	width: 50%;
	padding: 4px;
	outline: none;
	cursor: pointer;
	border: 1px solid white;
	background-color: transparent;
	color: white;
}
select > option {
	color: black;
}
select:focus {
	color : black;
	box-shadow: 0px -26px 0px 0px  white inset;
	transition: 0.3s;
}
input[type=number] {
	position: relative;
}
input[type=number]::-webkit-inner-spin-button {
	display: block;
	position: absolute;
	border: none;
	outline: none;
	background: transparent;
	height: 100.5%;
	right: -20px;
	top: 0;
	margin: 0;
	padding: 0;
	transition: 0.2s;
}
input[type=number]:hover::-webkit-inner-spin-button {
	right: 0px;
}
input[type=number],input[type=text], select {
	transition: 0.3s;
	border: 1px solid white;
	background-color: transparent;
	color: white;
}
input[type=number]:focus, input[type=text]:focus {
	box-shadow: 0px -31px 0px 0px  white inset;	
	color : black;
	/* box-shadow: 0px -26px 0px 0px  white inset; */
	transition: 0.2s;
}

/* textinput */
input::-webkit-input-placeholder {
	position: relative;
	left: 50%;
	color:white;
	transform: translate(-15%,0%);	
	transition: 0.2s;
}
input:focus::-webkit-input-placeholder {
	left: 0%;
	color:grey;
	transform: translateX(0%);	
	transition: 0.2s;
}


/* fileupload */
input::-webkit-file-upload-button {
	margin: 0;
	width : 100%;
	padding: 3px;
	border: 1px solid white;
	color:white;
	background-color: transparent;
	cursor: pointer;
}
input::-webkit-file-upload-button:hover {
	background-color: lightskyblue;
	color:white;
}


/* rangeslider */
input[type=range] {
	-webkit-appearance: none;
	padding: 0;
	border-radius: 15px;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border-radius: 15px;
	width: 12px;
	height: 12px;
	background-color: rgb(98, 193, 252);
	margin-left: 0;
	margin-right: 0;
	margin-top: -3px;
	cursor: pointer;
}
input[type=range]::-webkit-slider-thumb:hover {
	background-color: royalblue;
	border: 1px solid white;
}

input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	height: 5px;
}
input[type=range]::-moz-range-track {
	transform: translate(-10px,0);
	border-radius: 15px;
	width : 100%;
	height: 5px;
	background-color : white;
}
input[type=range]::-moz-range-thumb {
	transform: translate(-10px,0);
	border-radius:100%;
	width: 12px;
	height: 12px;
	background-color: rgb(98, 193, 252);
	margin-left: 0;
	margin-right: 0;
	margin-top: -3px;
	cursor: pointer;
	border: none;
	outline:none;
}

/* input color */
input[type=color] {
	position: relative; /*for placeHolder*/
	border: none;
	outline: none;
	width: 100%;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
input[type=color]::-webkit-color-swatch-wrapper {
	border: none;
	outline: none;
	padding: 2px;
	margin: 0;
}
input[type=color]::-webkit-color-swatch {
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
}
input[type=color]:hover {
	outline: 1px solid white;
}
input[type=color]:after {
	position: absolute;
	top:2px;
	left: calc(50% - 40px);
	content: 'Pick A Color';
	color:white;
}

hr {
	color:white;
	border: 0.7px solid white;
}


/* CHECKBOX STYLES */
input[type="checkbox"] {
  display: none;
}
.checks label[for] {
  margin: 10px;
  cursor: pointer;
}
.checks label[for] span:before {
  color: #60c2ff;
  display: inline-block;
  content: "\ea53";
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
	width: 1rem;
  margin-right: 10px;
  animation: checkboxAnimationEnd 0.2s;
}
input[type="checkbox"]:checked + label[for] span:before {
  animation: checkboxAnimation 0.2s;
  content: "\ea52";
}
@keyframes checkboxAnimation {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes checkboxAnimationEnd {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
